body {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    background-color: black;
}

#mainFrame {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 10%);
    background-color: rgb(34, 34, 34);
    width: 2595.19px;
    height: 1355.94px;
    border-radius: 10px;
    padding-bottom: 1.8%;
}

#keyboard {
    padding-top: 0.3%;
    padding-right: 0.4%;
    background-color: grey;
    width: 78%;
    height: 25%;
    position: relative;
    left: 50%;
    transform: translate(-57.2%, 290%);
    padding-left: 0.5%;
    border-radius: 10px;
}

.key {
    position: relative;
    display: inline-block;
    width: 6.0%;
    height: 88%;
    background-color: white;
    border-radius: 10px;
    margin-top: 0.6%;
    margin-left: 0.32%;
    transition: background-color 0.3s;
}

.blacKey {
    padding-top: 0.2%;
    position: relative;
    display: inline-block;
    width: 4%;
    height: 65%;
    background-color: rgb(18, 18, 18);
    border-radius: 10px;
    margin-top: 0.6%;
    margin-left: 0.32%;
    margin-bottom: 3%;
    transition: background-color 0.3s;
}

.activeDot {
    margin-left: 35%;
    margin-top: 190%;
    width: 30%;
    height: 13%;
    background-color: rgb(0, 0, 0);
    border-radius: 100%;
}

.dot {
    margin-left: 35%;
    margin-top: 190%;
    width: 30%;
    height: 13%;
    background-color: red;
    border-radius: 100%;
    transition: background-color .3s
}

.key:hover {
    background-color: rgb(165, 165, 165);
}

.key:active {
    background-color: rgb(0, 0, 0);
}

.blacKey:hover {
    background-color: rgb(81, 81, 81);
}

.blacKey:active {
    background-color: rgb(198, 198, 198);
}


#key2 {
    left: 4.5%;
    transform: translate(0%, -140%);
}

#key4 {
    left: 6.4%;
    transform: translate(0%, -140%);
}

#key7 {
    left: 15%;
    transform: translate(0%, -140%);
}

#key9 {
    left: 17%;
    transform: translate(0%, -140%);
}

#key11 {
    left: 19%;
    transform: translate(0%, -140%);
}

#key14 {
    left: 27.6%;
    transform: translate(0%, -140%);
}

#key16 {
    left: 29.6%;
    transform: translate(0%, -140%);
}

#key19 {
    left: 38.2%;
    transform: translate(0%, -140%);
}

#key21 {
    left: 40.2%;
    transform: translate(0%, -140%);
}

#key23 {
    left: 42.2%;
    transform: translate(0%, -140%);
}





#firstRow {
    background-color: grey;
    width: 90%;
    height: 23.5%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 190%);
    border-radius: 10px;

}

#padrow {
    width: 80%;
    height: 70%;
    background-color: rgb(79, 79, 79);
    position: absolute;
    left: 50%;
    transform: translate(-42%, -90%);
    border-radius: 10px;
    padding-top: 1.7%;
}

.pad {
    width: 10%;
    height: 80%;
    background-color: rgb(255, 220, 220);
    display: inline-block;
    margin-left: 1.8%;
    border-radius: 10px;
    transition: background-color 0.2s;
}

.activePad {
    width: 10%;
    height: 80%;
    background-color: rgb(255, 0, 0);
    display: inline-block;
    margin-left: 1.8%;
    border-radius: 10px;
}

.pad:hover {
    background-color: rgb(210, 124, 124);
}

.pad:active {
    background-color: rgb(255, 0, 0);
}

#secondRow {
    width: 60%;
    height: 35%;
    background-color: gray;
    position: absolute;
    left: 50%;
    transform: translate(-25%, 20%);
    border-radius: 10px;
}

.pot {
    margin-top: 4%;
    margin-left: 2.5%;
    width: 9%;
    height: 29%;
    background-color: black;
    display: inline-block;
    border-radius: 100%;
}

#miniDisplay {
    width: 28%;
    height: 35%;
    background-color: gray;
    position: absolute;
    left: 50%;
    transform: translate(-160%, 20%);
    border-radius: 10px;
}

#display {
    background-color: white;
    width: 70%;
    height: 70%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 9%);
    border-radius: 10px;
    padding: 5%;
    transition: background-color 2s, color 2s, text 2s;
    font-size: 200%;
}

#display:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}



#megaKnob {
    background-color: wheat;
    width: 7%;
    height: 50%;
    border-radius: 100%;
    margin-left: 3.6%;
    margin-top: 2%;
    padding: 1%;
    display: inline-block;
    position: relative;
}

#megaControl {
    width: 100%;
    height: 100%;
    background: black;
    border: 2px solid #444;
    border-radius: 50%;
    position: relative;
    top: -1%;
    left: -1%;
}

.knob {
    display: inline-block;
    margin-left: 2.5%;
    width: 10%;
    height: 31.8%;
    background-color: wheat;
    border-radius: 100%;
    margin: 1.1%;
    position: relative;
    top: 6%;
}

.knob-control {
    width: 70%;
    height: 70%;
    background: black;
    border: 2px solid #444;
    border-radius: 50%;
    position: relative;
    top: 14%;
    left: 14%;
}

.knob-marker {
    width: 12px;
    height: 45%;
    background-color: red;
    border-radius: 10px;
    position: absolute;
    top: 5%;
    left: 46%;
    transform-origin: center 85%;
}



#secondDisplay {
    padding-top: 0.3%;
    padding-right: 0.4%;
    background-color: wheat;
    width: 9%;
    height: 25%;
    position: relative;
    left: 50%;
    transform: translate(350%, 190%);
    padding-left: 0.5%;
    border-radius: 10px;
}

#signalCanvas {
    width: 100%;
    height: 70%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 9%);
    border-radius: 10px;
    padding: 5%;
}