body {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    background-color: black;
    transition: color 0.4s, background-color 0.4s;
}

#mainFrame {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 10%);
    background-color: rgb(34, 34, 34);
    width: 2595.19px;
    height: 1355.94px;
    border-radius: 10px;
    padding-bottom: 3%;
}

#keyboard {
    padding-top: 0.3%;
    background-color: grey;
    width: 75%;
    height: 25%;
    position: relative;
    left: 50%;
    transform: translate(-58.9%, 290%);
    padding-left: 1.5%;
    border-radius: 10px;
}

.key {
    position: relative;
    display: inline-block;
    width: 6.0%;
    height: 88%;
    background-color: white;
    border-radius: 10px;
    margin-top: 0.6%;
    margin-left: 0.32%;
    transition: background-color 0.1s;
}

.blacKey {
    position: relative;
    display: inline-block;
    width: 4%;
    height: 65.2%;
    background-color: rgb(18, 18, 18);
    border-radius: 10px;
    margin-top: 0.35%;
    margin-left: 0.32%;
    margin-bottom: 3%;
    transition: background-color 0.1s;
}

.activeDot {
    position: relative;
    width: 80%;
    height: 60px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top:195%;
    background-color: red;
    border-radius: 10px;
    transition: background-color 0s;
    /*clip-path: inset(0% 0% 50% 0%);*/
}

.dot {
    position: relative;
    width: 80%;
    height: 60px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top:195%;
    background-color: transparent;
    border-radius: 10px;
    transition: background-color 0.2s;
}

.key_active {
    position: relative;
    display: inline-block;
    width: 6.0%;
    height: 88%;
    border-radius: 10px;
    margin-top: 0.6%;
    margin-left: 0.32%;
    transition: background-color 0.1s;
    background-color: rgb(27, 27, 27);
}

.blacKey_active {
    position: relative;
    display: inline-block;
    width: 4%;
    height: 65.2%;
    background-color: gray;
    border-radius: 10px;
    margin-top: 0.35%;
    margin-left: 0.32%;
    margin-bottom: 3%;
    transition: background-color 0.1s;
}

#key2 {
    left: 4.5%;
    transform: translate(0%, -140%);
}

#key4 {
    left: 6.4%;
    transform: translate(0%, -140%);
}

#key7 {
    left: 15%;
    transform: translate(0%, -140%);
}

#key9 {
    left: 17%;
    transform: translate(0%, -140%);
}

#key11 {
    left: 19%;
    transform: translate(0%, -140%);
}

#key14 {
    left: 27.6%;
    transform: translate(0%, -140%);
}

#key16 {
    left: 29.6%;
    transform: translate(0%, -140%);
}

#key19 {
    left: 38.2%;
    transform: translate(0%, -140%);
}

#key21 {
    left: 40.2%;
    transform: translate(0%, -140%);
}

#key23 {
    left: 42.2%;
    transform: translate(0%, -140%);
}

#firstRow {
    background-color: grey;
    width: 90%;
    height: 23.5%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 178%);
    border-radius: 10px;
    padding-bottom: 19px;

}

#padrow {
    width: 80%;
    height: 70%;
    background-color: rgb(79, 79, 79);
    position: absolute;
    left: 50%;
    transform: translate(-42%, -90%);
    border-radius: 10px;
    padding-top: 2%;
}

.pad {
    width: 10%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    margin-left: 2.05%;
    border-radius: 10px;
    transition: background-color 0.2s;
}

.activePad {
    width: 10%;
    height: 80%;
    background-color: rgb(27, 27, 27);
    display: inline-block;
    margin-left: 2.05%;
    border-radius: 10px;
}

#secondRow {
    width: 60%;
    height: 35%;
    background-color: gray;
    position: absolute;
    left: 50%;
    transform: translate(-25%, 20%);
    border-radius: 10px;
}

.pot {
    margin-top: 4%;
    margin-left: 2.5%;
    width: 9%;
    height: 29%;
    background-color: black;
    display: inline-block;
    border-radius: 100%;
}

#miniDisplay {
    width: 28.8%;
    height: 35%;
    background-color: gray;
    position: absolute;
    left: 50%;
    transform: translate(-156.1%, 20%);
    transition: background-color 2s, color 2s, text 2s;
    border-radius: 10px;
}

#display {
    background-color: rgb(255, 255, 255);
    font-family: roboto;
    width: 80%;
    height: 70%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 9%);
    border-radius: 10px;
    padding: 5%;
    transition: background-color 0.3s, color 0.3s, text 0.3s;
    font-size: 200%;
}

#knob0 {
    background-color: rgb(0, 0, 0);
    width: 7%;
    height: 50%;
    border-radius: 100%;
    margin-left: 2.3%;
    margin-top: 2%;
    padding: 1%;
    display: inline-block;
    position: relative;
}

.knob {
    display: inline-block;
    margin-left: 2.5%;
    width: 10%;
    height: 31.8%;
    background-color: black;
    border-radius: 100%;
    margin: 1.1%;
    margin-top: 2%;
    position: relative;
    top: 6%;
}

.knob-marker {
    width: 12px;
    height: 45%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    position: absolute;
    top: 11%;
    left: 46%;
    transform-origin: center 85%;
    transition: color 0.4s, background-color 0.4s;
}

.knobIndicator {
    width: 35%;
    height: 25%;
    text-align: center;
    color: white;
    font-size: 190%;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(23, 23, 23);
    border-radius: 30px;
    position: absolute;
    top: 70%;
    left: 32%;
    transform-origin: center 85%;
    transition: color 0.4s, background-color 0.4s;
}

#knob0Indicator {
    width: 27%;
    height: 20%;
    top: 75%;
    left: 36%;
}

#secondDisplay {

    background-color: rgb(0, 0, 0);
    width: 17.3%;
    height: 99%;
    position: relative;
    left: 50%;
    transform: translate(283%, -176.5%);
    border-radius: 10px;
    border: 5px;
    border-style: solid;
    border-color: rgb(128, 128, 128);
    z-index: 100;

}

#signalCanvas {
    width: 101%;
    height: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50.1%, 0%);
    border-radius: 10px;
}

.hidden {
    display: none;
}

.menu {
    cursor: pointer;
    position: relative;
    background-color: #000000;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 180px;
    height: 90px;
    z-index: 1000;
    font-size: xx-large;
    transition: background-color 0.8s;
}

.selectButton {
    cursor: pointer;
    position: relative;
    background-color: #000000;
    color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 130px;
    height: 90px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 1000;
    font-size: xx-large;
    transition: background-color 0.3s;
}

.selectButton:hover {
    background-color: rgb(82, 82, 82);
    color: white;
}

.selectButton:active {
    background-color: rgb(255, 255, 255);
    color: black;
}

.selectType {
    background-color: white;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    width: 36%;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: color 0.4s, background-color 0.4s;
}

.turnOn {
    width: 4.5%;
    height: 39.5%;
    background-color: white;
    font-size: 110%;
    border-radius: 50%;
    display: flex;
    transition: color 0.3s, background-color 0.3s;
    position: relative;
    cursor: pointer;
}

.turnOnActive {
    width: 4.5%;
    height: 39.5%;
    background-color: rgb(225, 0, 0);
    font-size: 110%;
    border-radius: 50%;
    display: flex;
    transition: color 0.1s, background-color 0.1s;
    position: relative;
    cursor: pointer;
}

#keyOctaveMinus,
#keyOctavePlus,
#bassOctaveMinus,
#bassOctavePlus,
#arpOctavePlus,
#arpOctaveMinus {
    width: 5%;
    height: 39%;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 110%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 1%;
    align-items: center;
    transition: color 0.4s, background-color 0.4s;
    position: relative;
    cursor: pointer;
}

.octaveIndicator {
    border: 4px;
    border-style: solid;
    border-color: rgb(149, 149, 149);
    background-color: gray;
    width: 5%;
    height: 39%;
    text-align: center;
    border-radius: 50%;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    padding: 1%;
    align-items: center;
    transition: color 0.4s, background-color 0.4s;
    position: relative;
    cursor: pointer;
}

.mono {
    width: 5%;
    height: 39%;
    text-align: center;
    font-size: 70%;
    padding: 1%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.4s, background-color 0.4s;
    position: relative;
    cursor: pointer;
}

.monoActive {
    width: 5%;
    height: 39%;
    text-align: center;
    font-size: 70%;
    padding: 1%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.4s, background-color 0.4s;
    position: relative;
    cursor: pointer;
}

.volumeIndicator {
    width: 5%;
    height: 39%;
    padding: 1%;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 70%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.4s, background-color 0.4s;
    position: relative;
}

.instrumentSelection {
    background-color: gray;
    width: 100%;
    height: 20%;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 4%;
    padding: 2%;
    position: relative;
    transform: translate(-1.8%, 0%);
}

#splitIndicator {
    width: 2.5%;
    height: 10%;
    font-size: 140%;
    font-weight: 1200;
    border-radius: 10px;
    display: flex;
    position: absolute;
    transform: translate(370%, -60%);
    padding: 0.3%;
    padding-bottom: 0.5%;
}

.splitDot {
    background-color: transparent;
    position: relative;
    width: 1.77%;
    height: 3.93%;
    padding: 10px;
    transform: translate(1551%, 870%);
    border-radius: 50%;
    display: flex;
    transition: color 0.6s, background-color 0.6s;
    clip-path: inset(50% 0% 0% 0%);
}

.splitDotActive {
    background-color: gray;
    position: relative;
    width: 1.77%;
    height: 3.93%;
    padding: 10px;
    transform: translate(1551%, 870%);
    border-radius: 50%;
    display: flex;
    transition: color 0.6s, background-color 0.6s;
    clip-path: inset(50% 0% 0% 0%);
}