body {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    background-color: black;
}

#mainFrame {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 10%);
    background-color: rgb(34, 34, 34);
    width: 2595.19px;
    height: 1355.94px;
    border-radius: 10px;
    padding-bottom: 1.8%;
}

#keyboard {
    padding-top: 0.3%;
    padding-right: 0.4%;
    background-color: grey;
    width: 78%;
    height: 25%;
    position: relative;
    left: 50%;
    transform: translate(-57.2%, 290%);
    padding-left: 0.5%;
    border-radius: 10px;
}

.key {
    position: relative;
    display: inline-block;
    width: 6.0%;
    height: 88%;
    background-color: white;
    border-radius: 10px;
    margin-top: 0.6%;
    margin-left: 0.32%;
    transition: background-color 0.1s;
}

.blacKey {
    padding-top: 0.2%;
    position: relative;
    display: inline-block;
    width: 4%;
    height: 65%;
    background-color: rgb(18, 18, 18);
    border-radius: 10px;
    margin-top: 0.6%;
    margin-left: 0.32%;
    margin-bottom: 3%;
    transition: background-color 0.1s;
}

.activeDot {
    margin-left: 35%;
    margin-top: 190%;
    width: 30%;
    height: 13%;
    background-color: rgb(0, 0, 0);
    border-radius: 100%;
}

.dot {
    margin-left: 35%;
    margin-top: 190%;
    width: 30%;
    height: 13%;
    background-color: transparent;
    border-radius: 100%;
    transition: background-color .2s
}

.key_active {
    position: relative;
    display: inline-block;
    width: 6.0%;
    height: 88%;
    border-radius: 10px;
    margin-top: 0.6%;
    margin-left: 0.32%;
    transition: background-color 0.1s;
    background-color: black;
}

.blacKey_active {
    padding-top: 0.2%;
    position: relative;
    display: inline-block;
    width: 4%;
    height: 65%;
    border-radius: 10px;
    margin-top: 0.6%;
    margin-left: 0.32%;
    margin-bottom: 3%;
    transition: background-color 0.1s;
    background-color: gray;
}

#key2 {
    left: 4.5%;
    transform: translate(0%, -140%);
}

#key4 {
    left: 6.4%;
    transform: translate(0%, -140%);
}

#key7 {
    left: 15%;
    transform: translate(0%, -140%);
}

#key9 {
    left: 17%;
    transform: translate(0%, -140%);
}

#key11 {
    left: 19%;
    transform: translate(0%, -140%);
}

#key14 {
    left: 27.6%;
    transform: translate(0%, -140%);
}

#key16 {
    left: 29.6%;
    transform: translate(0%, -140%);
}

#key19 {
    left: 38.2%;
    transform: translate(0%, -140%);
}

#key21 {
    left: 40.2%;
    transform: translate(0%, -140%);
}

#key23 {
    left: 42.2%;
    transform: translate(0%, -140%);
}

#firstRow {
    background-color: grey;
    width: 90%;
    height: 23.5%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 190%);
    border-radius: 10px;

}

#padrow {
    width: 80%;
    height: 70%;
    background-color: rgb(79, 79, 79);
    position: absolute;
    left: 50%;
    transform: translate(-42%, -90%);
    border-radius: 10px;
    padding-top: 1.7%;
}

.pad {
    width: 10%;
    height: 80%;
    background-color: rgb(255, 220, 220);
    display: inline-block;
    margin-left: 1.8%;
    border-radius: 10px;
    transition: background-color 0.2s;
}

.activePad {
    width: 10%;
    height: 80%;
    background-color: rgb(255, 0, 0);
    display: inline-block;
    margin-left: 1.8%;
    border-radius: 10px;
}

.pad:hover {
    background-color: rgb(210, 124, 124);
}

#secondRow {
    width: 60%;
    height: 35%;
    background-color: gray;
    position: absolute;
    left: 50%;
    transform: translate(-25%, 20%);
    border-radius: 10px;
}

.pot {
    margin-top: 4%;
    margin-left: 2.5%;
    width: 9%;
    height: 29%;
    background-color: black;
    display: inline-block;
    border-radius: 100%;
}

#miniDisplay {
    width: 28%;
    height: 35%;
    background-color: gray;
    position: absolute;
    left: 50%;
    transform: translate(-160%, 20%);
    border-radius: 10px;
}

#display {
    background-color: white;
    font-family: roboto;
    width: 70%;
    height: 70%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 9%);
    border-radius: 10px;
    padding: 5%;
    transition: background-color 2s, color 2s, text 2s;
    font-size: 200%;
}

#display:hover {
    background-color: rgb(206, 206, 206);
}

#knob0 {
    background-color: wheat;
    width: 7%;
    height: 50%;
    border-radius: 100%;
    margin-left: 3.6%;
    margin-top: 2%;
    padding: 1%;
    display: inline-block;
    position: relative;
}

.knob {
    display: inline-block;
    margin-left: 2.5%;
    width: 10%;
    height: 31.8%;
    background-color: wheat;
    border-radius: 100%;
    margin: 1.1%;
    position: relative;
    top: 6%;
}

.knob-marker {
    width: 12px;
    height: 45%;
    background-color: red;
    border-radius: 10px;
    position: absolute;
    top: 11%;
    left: 46%;
    transform-origin: center 85%;
}

.knobIndicator{
    width: 35%;
    height: 25%;
    text-align: center;
    color:gray;
    font-size: 190%;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 235, 197);
    border-radius: 30px;
    position: absolute;
    top: 70%;
    left: 32%;
    transform-origin: center 85%;
}
#knob0Indicator{
    width: 27%;
    height: 20%;
    top: 75%;
    left: 36%;
}

#secondDisplay {
    padding-top: 0.3%;
    padding-right: 0.4%;
    background-color: wheat;
    width: 9%;
    height: 25%;
    position: relative;
    left: 50%;
    transform: translate(350%, 177.5%);
    padding-left: 0.5%;
    border-radius: 10px;
}

#signalCanvas {
    width: 100%;
    height: 70%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 9%);
    border-radius: 10px;
    padding: 5%;
}

.hidden {
    display: none;
}

.menu {
    cursor: pointer;
    position: relative;
    background-color: #fff;
    font-family: roboto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 220px;
    height: 80px;
    z-index: 1000;
    font-size: xx-large;
    transition: background-color 0.8s;
}

.menu:hover {
    background-color: black;
    color: white;
}

.selectButton {
    cursor: pointer;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
    height: 80px;
    z-index: 1000;
    font-size: xx-large;
    transition: background-color 0.3s;
}

.selectButton:hover {
    background-color: black;
    color: white;
}

.selectButton:active {
    background-color: red;
    color: black;
}


.selectType{
    background-color: wheat;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
    border-radius: 10px;
    width: 36%;
    display: inline-block;
    position: relative;
    transition:background-color 0.3s;
    cursor:pointer;
}

.turnOn{
    width: 5.3%;
    height: 39.5%;
    background-color: wheat;
    font-size: 110%;
    border-radius: 50%;
    display: flex;
    transition: color 0.3s, background-color 0.3s;
    position: relative;
    cursor: pointer;
}

.turnOnActive{
    width: 5.3%;
    height: 39.5%;
    background-color: red;
    font-size: 110%;
    border-radius: 50%;
    display: flex;
    transition: color 0.1s, background-color 0.1s;
    position: relative;
    cursor: pointer;
}


.octave {
    width: 5.3%;
    height: 39.5%;
    background-color: wheat;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 110%;
    border-radius: 50%;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.2s, background-color 0.2s;
    position: relative;
    cursor: pointer;
}

.octave:active {
    color:wheat;
    background-color: black;
}

.mono{
    width: 5.3%;
    height: 39.5%;
    background-color: wheat;
    text-align: center;
    font-size: 70%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 50%;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s, background-color 0.3s;
    position: relative;
    cursor: pointer;
}

.monoActive{
    width: 5.3%;
    height: 39.5%;
    background-color: red;
    text-align: center;
    font-size: 70%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 50%;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s, background-color 0.3s;
    position: relative;
    cursor: pointer;
}

.volumeIndicator{
    width: 7.3%;
    height: 39.5%;
    background-color: wheat;
    text-align: center;
    font-size: 70%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s, background-color 0.3s;
    padding: 0.2%;
    position: relative;
}

.instrumentSelection{
    background-color: gray;
    width: 100%;
    height: 20%;
    border-radius: 10px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-bottom: 4%;
    padding: 2%;
    position: relative;
    transform: translate(-1.8%,0%);
}

#splitIndicator{
    width: 2.5%;
    height: 10%;
    font-size: 120%;
    font-weight: 900;
    border-radius: 10px;
    display: flex;
    position: absolute;
    transform: translate(500%,-40%);
}

.splitDot{
    background-color: transparent;
    position:relative;
    width: 1.77%;
    height: 3.23%;
    transform: translate(2265%,1505%);
    border-radius: 50%;
    display: flex;
    transition: color 0.6s, background-color 0.6s;
}
.splitDotActive{
    background-color: gray;
    position:relative;
    width: 1.77%;
    height: 3.23%;
    transform: translate(2265%,1505%);
    border-radius: 50%;
    display: flex;
    transition: color 0.6s, background-color 0.6s;
}